.control{
    width: 280px;
}
.label{
    font-size: xx-large;
}
.field {
    display: flex;
}
.box {
    flex-direction: column;
    align-self: flex-end;
}
#mapid { 
    height: 220px;
    width: 220px;
}