.game-container{
    height: 730px;
    width: 500px;
    position: absolute;
    left: 80px;
}
.body{
    display: flex;
}

.boarder-left{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.sky{
    background-image: url('./images/fb-game-background.png');
    height: 580px;
    width: 500px;
    position: absolute;
}

.ground{
    background-image: url('./images/bottom-background.png');
    height: 150px;
    width: 500px;
    position: absolute;
    top: 580px;
    z-index: +1;
}
.bird{
    background-image: url('./images/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle{
    background-image: url('./images/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle{
    background-image: url('./images/flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}