.game-conatainer{
    height: 730px;
    width: 500px;
    position: absolute;
}

.sky{
    background-color: cornflowerblue;
    height: 580px;
    width: 500px;
    position: absolute;
}

.ground{
    background-color: saddlebrown;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 580px;
}
.bird{
    background-color: yellow;
    position: absolute;
    width: 60;
    height: 45px;
}